/* Header.css */

.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #000000 !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand h3 {
  margin: 0;
}

.nav-link {
  font-size: 1.1rem;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff; /* Adjust this color if needed */
  color: #ffffff;
}