.container {
    background: #f9f9f9;
  }
  
  .gallery-column {
    max-width: 33%;
    padding: 10px;
  }
  
  .gallery-img {
    width: 100%;
    height: auto;
    margin: 5px;
    transition: transform 0.2s;
  }
  
  .gallery-img:hover {
    transform: scale(1.05);
  }
  